$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-instagram: "\e900";
$icon-linkedin: "\e901";
$icon-twitter: "\e902";
$icon-brand: "\e902";
$icon-tweet: "\e902";
$icon-social: "\e902";
$icon-facebook: "\e903";
$icon-brand1: "\e903";
$icon-social1: "\e903";

