:root {
  --primary-color: rgba(255,255,255,0.67);
  --primary-color-100: rgba(255,255,255,0.1);
  --acent-color: #25AB75;
  --acent-color-100: #FFE642;
  --acent-color-200: #FB1351;
  --white-color: #fff;
  --black-color: #000;

  --secondary-color: var(--white-color);
  
  --text-sm: 0.8125rem;
  --text-md: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-lead: 1.25rem;
  --text-xl: 2.1875rem;
}