@import '../../assets/styles/mixin';

.hero {
  position: relative;
  padding: 2.5rem 0;
  @include media('tablet') {
    padding: 4.375rem 0;
  }

  h1 {
    color: var(--white-color);
    font-weight: 600;
    font-size: 4rem;
    line-height: 0.85;
    letter-spacing: -1px;
    margin: 0;
    margin-bottom: 2.625rem;
    @include media('tablet') {
      font-size: 6rem;
      max-width: 75%;
    }
    @include media('desktop') {
      font-size: 12.5rem;
    }
  }
}

.heroImg {
  position: absolute;
  right: -6.875rem;
  top: -5rem;
  z-index: -1;
  max-width: 100%;
  @include media('tablet') {
    top: -7.875rem;
  }
}

.category {
  display: inline-flex;
  align-items: center;
  padding: 0.3125rem 0.9375rem;
  background: var(--primary-color-100);
  font-size: 0.75rem;
  border-radius: 100rem;
  color: var(--white-color);
  font-weight: normal;
  margin-bottom: 2rem;
  
  .badge {
    margin-right: 0.9375rem;
    margin-left: -0.625rem;
  }
}

.badge {
  border-radius: 100rem;
  background: var(--acent-color);
  text-transform: uppercase;
  padding: 0.25rem 0.625rem;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.8;
  color: rgba(255,255,255,0.8);
}

.content {
  max-width: 37.5rem;
  padding-bottom: 2.125rem;

  p {
    margin: 0 0 1rem;
  }
}

.btnGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.infoLabels {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
  gap: 1.25rem;
  display: flex;
  @include media('tablet') {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10.375rem;
    flex-direction: column;
    justify-content: center;
  }
}

.label {
  border-radius: 1.25rem;
  background: var(--primary-color-100);
  color: var(--white-color);
  padding: 1rem;
  font-size: var(--text-sm);
  flex: 1;
  @include media('tablet') {
    flex: 0;
    padding: 1.25rem 1.875rem;
  }

  strong {
    display: block;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;

  }
}

.markYellow {
  color: var(--acent-color-100);
}

.markRed {
  color: var(--acent-color-200);
}