@import '../../assets/styles/mixin';

.popupContainer {
  position: fixed;
  z-index: 200;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #000;
  width: 100%;
  overflow: auto;
  max-width: 360px;
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
}

.popupClose {
  display: block;
  width: 2rem;
  height: 2rem;
  background: none;
  padding: 0;
  margin: 0;
  color: var(--white-color);
  margin: 0 0 1rem auto;
  border: 0;
  cursor: pointer;

  &:hover {
    color: var(--acent-color);
  }
}